.spinner {
  position: fixed;
  top:50%;
  left:50%;
  margin-top:-25px;
  margin-left:-25px;
  height: 50px;
  width: 50px;
  animation: rotate 0.8s infinite linear;
  border: 8px solid #d3d6db;
  border-right-color: transparent;
  border-radius: 50%;
  &_static {
    position: absolute;
  }
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
