.status {
  &__icon {
    svg {
      display: inline-block;
      width: 40px;
      height: 40px;
    }
    &_absolute {
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px;
      }
    }
    &_without {
      svg {
        fill: #aeb1b5;
      }
    }
    &_unsatisfactorily {
      svg {
        fill: #FCE476;
      }
    }
    &_satisfactorily {
      svg {
        fill: #ed6c63;
      }
    }
  }
}
