.add-images {
  width: 90px;
  height: 90px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
  border: 2px dashed #e6e6e6;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
  text-align: center;
  font-size: 36px;
  line-height: 80px;
  font-weight: bold;
  color: #7e7e7e;
  &:hover {
    opacity: .9;
  }
}
