.user-page {
  .tag {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .types {
    margin:0 0 30px 0;
  }
  .tags {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding:30px 0 30px;
    margin:40px 0 40px 0;
  }
  .react-gravatar {
    border-radius: 50%;
  }
  .level {
    position: relative;
  }
  .title {
    display: inline-block;
    font-size: 52px;
    line-height: 52px;
    margin-bottom: 10px !important;
  }
  .level-item-sub-text {
    display: inline-block;
    font-size: 10px;
    &__top {
      position: absolute;
      margin: 7px 0 0 10px;
    }
    &__middle {
      position: absolute;
      margin: 19px 0 0 10px;
    }
    &__bottom {
      position: absolute;
      margin: 32px 0 0 10px;
    }
    &__red {
      color: #e3766a;
    }
    &__green {
      color: #7bbf51;
    }
    &__grey {
      color: #bfbfbf;
    }
    &__blue {
      color: #839AAC
    }
  }
  .arrow {
    display: inline-block;
    width: 10px;
    &__up {
      fill: #E3766A;
    }
    &__down {

    }
    &__red {
      fill: #e3766a;
    }
    &__green {
      fill: #7bbf51;
    }
    &__grey {
      fill: #bfbfbf;
    }
  }
  .stats-title {
    margin-top: 30px;
  }
  .is-danger .Select-control {
    border-color: #ed6c63 !important;
  }
  .is-danger .label {
    color: #ed6c63 !important;
  }
}
