.count-photo {
  position: absolute;
  width: 50px;
  height: 20px;
  margin-top: -30px;
  left: 10px;
  color: #000;

  &__icon {
    svg {
      height: 20px;
      filter: drop-shadow(0 0 5px rgba(255,255,255, 1));
    }
  }

  &__value {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
    text-shadow: 0 0 10px rgba(255,255,255, 1);
  }

}
