.state {
  width: 60px;
  height: 60px;
  position: absolute;
  background: #fff;
  margin-top: -55px;
  left: 50%;
  margin-left: -30px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

