.revision {
  position: relative;
  &__state {
    width: 50px;
  }
  &__name {
    width: 500px;
  }
  &__status {
    width: 100px;
  }
  &__created {
    text-align: right;
  }
  &__updated {
    text-align: right;
  }
}
