@import '~bulma/css/bulma.css';
@import '~leaflet/dist/leaflet.css';
@import '~react-select/dist/react-select.min.css';

html, body {
  position: relative;
}

.roboto {
  font-family: Arial, sans-serif;
  &_ub {
    font-weight: 900;
  }
}

.page {
  padding: 0 10px;
  background: #fff;
}

.message-body,
.message,
.tag,
.input,
.textarea,
.Select-control,
.box,
.button,
.pagination a,
.notification {
  border-radius: 0;
}

.title a:hover, .subtitle a:hover {
  border-bottom: 1px solid transparent;
}

.buttons {
  .button {
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.nav-menu {
  .tag {
    padding-left: 3px;
    padding-right: 3px;
    height: auto;
    font-size: 11px;
    margin: -13px 0 0 4px !important;
  }
}
