.thumbnails {
  position: relative;
  display: block;
  margin-bottom: 40px;
}

.thumbnail {
  width: 90px;
  height: 90px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  cursor: pointer;
  position: relative;
  &_load {
    opacity: 0.5;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2),  0 2px 4px rgba(0,0,0,0.2);
  }
  &_video {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2),  0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
  }
}
.play-icon {
  display: inline-block;
  svg {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, .3));
    margin-top: 32px;
    width: 30px;
    fill: #999;
  }
}
