.image {
  position: relative;
  width: 100%;
  height: 225px;
  line-height: 225px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ccc;
  text-align: center;
  &_no-img-text {
    font-size:28px;
    font-weight: bold;
  }
}
