.user {
  display: block;
  color: #69707a;
  cursor: pointer;
}

.group {
  padding-bottom: 30px;
  width: 300px;
}

.group-name {
  color: #000;
}

.head-user {
  padding: 20px;
  background: #fbfbfb;
  margin: 0 -1px 20px;

}

.user-list {
  &__head {
    &_date {
      text-align: right;
    }
    td {
      font-weight: bold;
      vertical-align: top;
    }
  }
  .react-gravatar {
    border-radius: 50%;
  }
  &_avatar {
    width: 6%;
  }
  &_name {
    width: 20%;
    padding: 0 10px 0 0;
    box-sizing: border-box;
  }
  &_types {
    width: 15%;
    padding: 0 10px 0 0;
    box-sizing: border-box;
  }
  &_groups {
    width: 10%;
    padding: 0 10px 0 0;
    box-sizing: border-box;
  }
  &_date {
    width: 10%;
    padding: 0 10px 0 0;
    box-sizing: border-box;
  }
  .tag {
    margin-right: 3px;
    margin-bottom: 3px;
  }
}

.user-item__is-active {
  background: rgba(0, 0, 0, 0.1);
}

