.change-sort-file {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
  &__icon {
    svg {
      margin-top: 5px;
      fill: #fff;
      width: 15px;
      height: 15px;
      display: inline-block;
    }
  }
}
