.revision-count {
  position: absolute;
  width: 50px;
  height: 20px;
  margin-top: -30px;
  right: 10px;
  color: #000;
  text-align: right;
  &__icon {
    svg {
      display: inline-block;
      height: 20px;
      -webkit-filter: drop-shadow(0 0 5px rgba(255,255,255, 1));
      filter: drop-shadow(0 0 5px rgba(255,255,255, 1));
    }
  }
  &__value {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
    text-shadow: 0 0 5px rgba(255,255,255, 1);
  }
}
